* {
    box-sizing: border-box;
}

body {
    background-image: url("./BG4.jpg");
/*     background-attachment:fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Black Ops One', "sans-serif";
    color: rgb(245, 250, 241);
    height: auto;

}

h1 {
    font-size: 7vw;
    font-weight: normal;
    margin-bottom: 0;

}

.boards {
    color: rgba(255, 255, 255, 0.918);
    background-color: #1b737859;
    background-position: center;
    border: 4px outset gray;
    border-radius: 50%;
    padding: 2.5%;

}

h2 {
    margin-top: 0;
    font-family: 'verdana';
    color: yellow;
    font-weight: 100;
    font-size: 2.5vw;
}

.countdown-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2vh;

}

.big-text {
    font-weight: bold;
    font-size: 7vw;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 2.5vw;
}
